body {
    background: linear-gradient(180deg, #58F6EC 0%, #FBEDDD 64.58%);
    display: flex;
    width: 1920px;
    padding: 64px 0px;
    justify-content: center;
    align-items: center;
}

.frame {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    background: transparent;
}

h2 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

div div {
    display: flex;
    margin: 8px 8px 30px 8px;
    padding: 50px 40px 30px 40px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background: #FFF;
    box-shadow: 5px 4px 16px 0px rgba(51, 28, 0, 0.15);
    margin: 0;
}

p {
    width: 408px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

a {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #FCCB92;
    text-decoration: none;
    color: black;
}